.example {
    width: 100%;
    &__heading {
        overflow: hidden;
        width: calc(100% - 50px);
        max-width: 1189px;
        font-weight: inherit;
        font-size: 60px;
        margin: 0 auto;
        margin-bottom: 80px;
    }
    &__content {
        display: flex;
        width: 100%;
        padding: 86px 0;
        background-color: $gray;
    }
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: calc(100% - 50px);
        max-width: 1189px;
        margin: 0 auto;
    }
    &__text {
        max-width: 410px;
        font-size: 16px;
        margin: 0 0 70px;
    }
}
.statistics {
    grid-column: 1/1;
    grid-row: 2/2;
    max-width: 370px;
    &__container {
        margin-bottom: -35px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__item {
        position: relative;
        padding: 10px 10px 14px;
        width: 160px;
        font-size: 30px;
        border: solid $light-gray 2px;
        border-radius: 4px;
        text-align: center;
        margin-bottom: 35px;
    }
    &__caption {
        font-size: 14px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: fit-content;
        padding: 0 10px;
        background-color: $gray;
    }
    &__food-cost {
        margin-top: 55px;
    }
}
.food-cost {
    max-width: 325px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    &__heading {
        margin: 0;
    }
}
.exemplum {
    position: relative;
    display: flex;
    flex-direction: column;
    &__container {
        max-width: 620px;
        position: absolute;
        top: -143%;
    }
    &__figure {
        position: absolute;
        &--position {
            &--before {
                padding-left: 211px;
                // padding-right: 302px;
                overflow: hidden;
                margin-left: -76px;
                width: 678px;
                background-image: url("img/before-cat.png");
                background-position: left;
                background-clip: content-box;
                height: 499px;
            }
            &--after {
                overflow: hidden;
                width: 678px;
                background-image: url("img/after-cat.png");
                background-position: left;
                background-clip: content-box;
                padding-right: 465px;
                height: 499px;
                margin-left: -76px;
                // margin-top: -24px;
            }
        }
    }
    &__input {
        background: none;
        width: 435px;
        appearance: none;
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            cursor: pointer;
            background: $green;
            border: 1px solid $green;
            border-radius: 10px;
            width: 12px;
            height: 12px;
            margin-top: -1px;
            box-shadow: 0px  0 0 15px $white;
        }
        &::-webkit-slider-runnable-track {
            height: 10px;
            background-color: $light-gray;
            border-radius: 5px;
        }
    }
    &__slider {
        display: flex;
        position: absolute;
        top: 187%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__caption {
        margin: 0 24px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
    }
}