
@keyframes anim-down {
    0% {
        margin-top: -100%;
    }
    100% {
        margin-top: 0;
    }
}

@keyframes anim-up {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: -100%;
    }
}

//Десктоп//
.header {
    background-image: url("img/bg-header-container.png");
    background-position: right;
    background-size: 50% 100%;
    background-repeat: no-repeat;

    &__container {
        max-width: 1440px;
        background-image: url("img/cat-background1.jpg");
        background-position: right;
        background-repeat: no-repeat;
        margin: 0 auto;
    }
    &__background {
        display: none;
    }
}  
.nav {
    padding-top: 26px;
    justify-content: space-around;
    display: flex;
    max-width: 1500px;
    margin: 0 auto;

    &__logo {
        margin: 0;
        list-style: none;
        padding: 0;
        &--desktop{
            margin-top: 13px;
            background-image: url('img/logo-desktop.png');
            width: 202px;
            height: 59px;
        }
    }
    &__menu {
        justify-content: space-between;
        list-style: none;
        display: flex;
    }
    &__item {
        margin-top: 13px;
        font-size: 20px;
        line-height: 24px;
        white-space: nowrap;
        text-transform: uppercase;
        padding: 0 12px;
    }
    &__link {
        color: $white;
        text-decoration: none;
        &--active {
            border-bottom: 2px solid $white;
        }
    }
    &__toggle-menu {
        display: none;
    }
}

.slogan {
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(3);

    &__article {
        margin-left: 193px;
        margin-top: 113px;
        width: 414px;
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }
    &__heading {
        width: 100%;
        margin: 0px;
        line-height: 60px;
        font-size: 60px;
        font-weight: inherit;
    }
    &__paragraph {
        font-size: 20px;
        text-transform: uppercase;
        margin: 53px 0;
    }
    &__button {
        cursor: pointer;
        margin-left: 193px;
        height: fit-content;
        text-align: center;
        padding: 10px 30px;
        grid-column: 1 / 1;
        grid-row: 2 / 2;
        font-size: 20px;
        color: $white;
        font-family: inherit;
        text-transform: uppercase;
        border-style: none;
        background-color: $green;
        width: fit-content;
    }
    &__model {
        grid-column: 2 / 2;
        grid-row: 2 / 2;
        margin-top: -337px;
        margin-left: -384px;
    }
}
.button {
    cursor: pointer;
    text-decoration: none;
    color: $white;
}



//Планшетная версия//
@media screen and (max-width: $desktop) {
    .header {
        background-image: none;
        &__container {
            max-width: 768px;
            background: none;
        }
        &__background {
            display: none;
        }
    }
    .nav {
        padding-top: 10px;
        margin: 0 auto;
        max-width: 768px;
        &__link {
            &--active {
                border-bottom: 2px solid $green;
            }
        }
        &__item {
            padding: 0 12px;
            a {
                color: $black;
                font-size: 18px;
            }
        }
    }
    .slogan {
        &__article {
            margin-left: 120px;
            margin-top: 50px;
        }
        &__button {
            margin-left: 120px;
        }
        &__model {
            position: absolute;
            width: 700px;
            height: 610px;
            z-index: -1;
            margin-top: 300px;
            margin-left: -30px;
        }
    }
}
//Конец планшетной версии//


//Мобильная версия//
@media screen and (max-width: $tablet) {
    .header {
        background-image: url('img/bg-header-container.png');
        background-size: 100% 360px;
        background-position: top;

        &__background {
            display: block;
            top: 216px;
            left: 50%;
            transform: translate(-50%, -50%);
            width: fit-content;
            position: absolute;
            &-image {
                margin: 0 auto;
            }
        }
        &__container {
            padding-top: 55px;
            max-width: 320px;
            // background-image: url("img/cat-background1.jpg");
            // background-size: 100%;
            // background-repeat: no-repeat;
        }
    }

    .nav {
        position: absolute;
        display: block;
        padding: 0;
        background-color: $white;
        width: 100%;
        margin: 0 auto;
        &__link {
            &--active {
                border: none;
            }
        }
        &__menu {
            display: none;
            &--animation--opening {
                animation: anim-down 1s both;
            }
            &--animation--closing {
                animation: anim-up 2s both;
            }
        }
        &__logo {
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            padding: 10px 0;
        }
        &__logo {
            &--desktop {
                display: none;
            }
            &--mobile {
                margin-top: -5px;
                background-image: url('img/logo-mobile.png');
                width: 33px;
                height: 38px;
            }
        }
        &__item {
            margin-top: 0;
            border-bottom: solid $black 1px;
            text-align: center;
            padding: 24px 0;
            font-weight: bold;
        }
        &__header {
            background-color: $white;
            order: 2;
            position: relative;
            z-index: 3;
            border-bottom: solid $black 1px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 18px 0;
            border-bottom: none;
        }
        &__name--mobile {
            background-image: url('img/name-mobile.png');
            width: 101px;
            height: 18px;
        }
        &__toggle-menu {
            display: block;
            background-image: url('img/nav-open.png');
            width: 24px;
            height: 18px;
            border: none;
        }
        &--opened {
            z-index: 2;
            .nav__toggle-menu {
                background-image: url('img/nav-close.png');
                width: 18px;
                height: 18px;
                border: none;
                }
            .nav__menu {
                margin: 0 auto;
                padding: 0;
                display: block;
            }
        }
    } 

    .slogan {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(1);
        grid-template-rows: repeat(3);
        &__article {
            z-index: 1;
            width: fit-content;
            margin: 29px 0 0;
        }
        &__heading {
            color: $white;
            font-size: 36px;
            line-height: 36px;
            text-align: center;
        }
        &__paragraph {
            color: $white;
            text-align: center;
            font-size: 14px;
            margin: 19px 0;
        }
        &__button {
            font-size: 14px;
            grid-column: 1 / 1;
            grid-row: 3 / 3;
            max-width: 579px;
            min-width: 244px;
            height: fit-content;
            margin: 0 auto;
        }
        &__model {
            grid-column: 1 / 1;
            grid-row: 2 / 2;
            margin: 10px 2px;
            width: 280px;
            height: 270px;
            z-index: 1;
            position: relative;
        }
    }
}
//Конец мобильной версии//