$green: #68b738;

//Десктоп//

.nav__mobile-item {
    display: none;
}
.header {
    background-image: url("img/bg-header-container.png");
    background-position: right;
    background-size: 50% 100%; // TODO: remove
    background-repeat: no-repeat;

    &__container {
        width: 1440px;
        background-image: url("img/cat-background1.jpg");
        background-position: right;
        background-repeat: no-repeat;
        margin: 0 auto;
    }
}  
.nav {
    justify-content: space-around;
    padding-top: 40px;
    display: flex;

    &__logo {
        margin: 0;
        list-style: none;
        padding: 0;
    }
    &__menu {
        padding-right: 0;
        margin: 0;
        list-style: none;
        display: flex;
    }
    &__item {
        &:hover {
            border-bottom: 2px solid white;
        }
        font-size: 20px;
        line-height: 24px;
        white-space: nowrap;
        padding-top: 18px;
        text-transform: uppercase;
        padding: 0 12px;

        a {
            color: white;
            text-decoration: none;
        }
    }
}

.slogan {
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(3);

    &__article {
        margin-left: 193px;
        margin-top: 113px;
        width: 414px;
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }
    &__heading {
        width: 100%;
        margin: 0px;
        line-height: 60px;
        font-size: 60px;
        font-weight: inherit;
    }
    &__paragraph {
        font-size: 20px;
        text-transform: uppercase;
        margin: 53px 0;
    }
    &__button {
        margin-left: 193px;
        grid-column: 1 / 1;
        grid-row: 2 / 2;
        font-size: 20px;
        color: white;
        font-family: inherit;
        text-transform: uppercase;
        border-style: none;
        background-color: $green;
        width: 245px;
        height: 30%;
    }
    &__model {
        grid-column: 2 / 2;
        grid-row: 2 / 2;
        margin-top: -337px;
        margin-left: -384px;
    }
}



//Планшетная версия//
@media screen and (max-width: 1439px) {
    .header {
        background: none;

        &__container {
            width: 768px;
            background: none;
        }
    }
    .nav {
        margin: 0 auto;
        width: 768px;

        &__item {
            &:hover {
                border-bottom: 2px solid $green;
            }
            padding: 0 12px;
            padding-top: 18px; 

            a {
                color: black;
                font-size: 18px;
            }
        }
    }
    .slogan {
        &__article {
            margin-left: 120px;
            margin-top: 50px;
        }
        &__button {
            margin-left: 120px;
            height: 162%;
        }
        &__model {
            position: absolute;
            width: 700px;
            height: 610px;
            z-index: -1;
            margin-top: 300px;
            margin-left: -30px;
        }
    }
}
//Конец планшетной версии//


//Мобильная версия//
@media screen and (max-width: 767px) {
    .header {
        &__container {
            width: 320px;
            background-image: url("img/cat-background1.jpg");
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }
    .nav {
        display: block;
        padding: 0;
        background-color: #fff;
        width: 100%;
        margin: 0 auto;

        &__menu {
            display: none;
        }
        &__logo {
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            padding: 10px 0;
        }
    }
    .slogan {
        display: grid;
        grid-template-columns: repeat(1);
        grid-template-rows: repeat(3);

        &__article {
            width: 320px;
            margin: 29px 0 0;
        }
        &__heading {
            color: white;
            font-size: 36px;
            line-height: 36px;
            text-align: center;
        }
        &__paragraph {
            color: white;
            text-align: center;
            font-size: 14px;
            margin: 19px 0;
        }
        &__button {
            grid-column: 1 / 1;
            grid-row: 3 / 3;
            width: 280px;
            height: 126%;
            margin: 0 auto;
        }
        &__model {
            grid-column: 1 / 1;
            grid-row: 2 / 2;
            margin: 10px 2px;
            width: 280px;
            height: 270px;
            z-index: 1;
            position: relative;
        }
    }
    .nav__mobile-item {
        display: block;
    }
    .j-menu-open {
        cursor: pointer;
    }
    .mobile-none {
        display: none;
    }
}
//Конец мобильной версии//


// Мобильная менюшка
@media screen and (max-width: 767px) {
    .nav__logo {
        order: 2;
        border-bottom: solid black 1px;
        display: flex;
        justify-content: space-around;
    }
    .nav__menu {
        display: block;
        margin: 0 auto;
        padding: 0;
    }
    .nav__item {
        border-bottom: solid black 1px;
        text-align: center;
        padding: 24px 0;
        font-weight: bold;
    }
}